<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PageObjectFrameWork">

	<listeners>

		<!--<listener class-name="listeners.CustomListeners"></listener>-->
		<listener class-name="utilities.ExtentListeners"></listener>

	</listeners>


	<test thread-count="5" name="Find Car Test">
		<classes>
			<class name="TestCases.FindCarTest" />
		</classes>
	</test> <!--
	Test -->
	<test thread-count="5" name="Car Price Test">
		<classes>
			<class name="TestCases.carPricetest" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
